.home-photo .hp-inner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    width: auto;
    left: -18px;
    right: -18px;
}

.home-photo {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: calc(100% - 36px);
    border-radius: 50%;
    overflow: hidden;
    background-color: #007dee;
    border: 18px solid #007dee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dark .home-photo {
    background-color: #444;
    border: 18px solid #444;
    -webkit-box-shadow: 0 0 25px 0 rgb(0 0 0 / 100%);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 100%);
  }